[2021-02-06 19:49] blauks opened #1 "Document project setup and meta-information"
## README.md
- [x] Title
- [x] (Logo and stats if we are feeling cheeky)
- [x] Two-three sentences about the project
- [x] How to set up the project
- [x] How to run the project

## LICENSE
- [x] Add Apache 2 license

## Wiki
- [x] Frontpage with links to subpages
- [x] Document CI
- [x] Document architecture
- [x] Folder structure
- [x] Testing
- [x] Code style

[2021-02-06 19:56] blauks commented on #1
License added directly to master 🙂

[2021-02-06 20:12] blauks opened #2 "Setup CI (GitHub Actions)"
Flow:
- Build
- Check lint
- Run tests (Optional can be added later)

[2021-02-06 20:15] blauks opened #3 "Setup React template"
With TypeScript, TailWind, Apollo Client and other needed dependencies.

[2021-02-06 20:20] blauks opened #4 "Find javascript libraries for visualisation"
Examples could be P5js and threejs, try to experiment with them a bit aswell too see what we could do with them.

Post your findings here!

[2021-02-06 20:25] blauks opened #5 "Containerise application"
Build the application in a docker image and publish to organisation – just like backend.
An umbrella repo will be created which deploys both of these (with a DB in the future) with a docker-compose "image".

[2021-02-06 20:29] blauks opened #6 "Setup Storybooks"
Depends on #3

[Storybooks](https://storybook.js.org/)

[2021-02-06 21:37] #3 closed, assigned to blauks

[2021-02-07 21:02] #2 closed, assigned to blauks

[2021-02-07 21:43] blauks opened #11 "Add Github action workflow for building project"
Add a workflow to install packages and build project

[2021-02-08 08:52] emilom commented on #4
If we only need graphs we can use more general frameworks, this includes:
### Chart.Js
Very popular open-source library for building responsive bar, pie, and line charts. 50k stars on gitHub. Well documented. There are several npm packages that allow charts to be created in React; react-chartjs-2 is one of the packages which makes the creation of charts and graphs ​very easy. Some features may be

[2021-02-08 09:04] emilom commented on #4
Will try to set up a quick example with each alternative 😏

[2021-02-08 09:48] FredrikAugust commented on #5
Adding wontfix for now. Remove when applicable.

[2021-02-08 09:50] blauks commented on #5
Sounds good Mr. Laos!

[2021-02-08 09:51] FredrikAugust commented on #5
See you on Bali, boys!

[2021-02-08 09:59] FredrikAugust commented on #4
If you want to combine the power of three.js with charting libraries it might also be interesting to take a look at

## [visx](https://github.com/airbnb/visx)

_By AirBnB_

It gives you a lot of power over the visualisation while erasing a lot of the boilerplate code required to create responsive visualisations.

It's seen pretty good adoption, and should be mature enough to start using seriously

[2021-02-08 11:01] FredrikAugust commented on #1
Updated issue with more information.

@IT2901-SINTEF01/police any input here regarding extra information?

[2021-02-08 12:16] FredrikAugust opened #14 "Discuss utility vs presentational value"
A question mainly for @IT2901-SINTEF01/ux-design, but including @IT2901-SINTEF01/frontend as this will determine their choice of technologies.

When developing dashboards and visualisations it's important to strike a good balance between utility and :sparkles: _aesthetics_ :sparkles:.

We should probably set some guidelines for the visualisation of data with regards to amount of information, desig

[2021-02-08 12:17] FredrikAugust commented on #14
The conclusion of this debate should probably be reflected in the report as well as mentioned on the wiki under a "Design Philosophy" section.

[2021-02-08 14:30] #11 closed, assigned to blauks

[2021-02-08 15:37] FredrikAugust commented on #4
For examples, I can recommend [CodePen](https://codepen.io) for creating quick prototypes. This removed the need for installing anything when evaluating the different libraries.

[2021-02-08 20:00] thomran commented on #14
How about discussing this in detail when we meet on wednesday? I agree that this is a subject where we should be in agreement from the go, and I think some aspects of this discussion should be held with the entire team.

[2021-02-09 08:21] FredrikAugust commented on #14
Sounds good. I suppose we can include this in the user story creation.

[2021-02-09 08:39] FredrikAugust opened #17 "Build storybook in pipeline"
Might be useful to ensure the storybook builds successfully in Github Actions?

Evaluate whether or not this is performed by the original building. I do, however, believe that it is possible for the storybook to fail building without the main build failing.

[2021-02-09 11:48] emilom commented on #4
Yes, I should have done that... I have a simple prototype for Rechart, React-Vis and D3 locally now. I struggled to find learning resources for visx, as it is relatively new.

[2021-02-09 12:37] #6 closed, assigned to nobody

[2021-02-09 12:58] blauks opened #18 "Document use of Storybooks"
Document how to set up and use Storybooks.

Helpful notes from @FredrikAugust

[2021-02-09 12:59] blauks commented on #18
Will be done after I have finished #1

[2021-02-10 10:35] FredrikAugust commented on #14
Discussed [here](https://hackmd.io/Z9drv5AuQ4i00VyUfJXREA?view#10-min-Utility-vs-design).

Closing.

[2021-02-10 10:35] #14 closed, assigned to blauks, thomran, emilom

[2021-02-10 10:38] FredrikAugust commented on #14
Conclusion:

[2021-02-10 12:27] FredrikAugust opened #19 "End-to-End testing with Cypress"
- [x] Set up Cypress testing library
- [x] Set up CI job for testing (@IT2901-SINTEF01/infra)
- [x] Test launch of website
- [x] If applicable; extract test artifacts

[2021-02-10 12:34] FredrikAugust commented on #4
Conclusion:
- Main: `visx` by AirBnB
- Backup: `React Vis` by Uber

[2021-02-10 12:34] #4 closed, assigned to blauks, thomran, emilom

[2021-02-10 12:40] FredrikAugust opened #20 "Wireframes in Figma"
### Description

Create wireframes in Figma. Post link or images here when done.

### Subtasks
- [x] Assign project, milestone, labels and assignees
- [x] Create figma project and share with team
- [x] Create wireframe for dashboard

[2021-02-10 13:49] blauks opened #21 "Write about decisions directed towards visx"
### Subtasks
- [x] Why we chose it
- [x] Why is it better to use visx than other competitors?
- [x] How we will use it

### Related sources
- https://airbnb.io/visx/

[2021-02-12 08:45] emilom commented on #21
I have written a short wiki page now. Please have a look and write some feedback here :)

[2021-02-12 09:22] FredrikAugust commented on #21
Looks good to me ✅

[2021-02-12 09:26] blauks commented on #21
I fixed up in some minor spelling mistakes. You write both visx and Visx, it would be nice if all of them either started with a capital letter or lowercase. You can choose. _The tools are divided into main and backup._ maybe this could be reworded into something like _We have decided to go for one library as the main choice, and have also selected a backup library if needed._

[2021-02-12 09:31] FredrikAugust commented on #21
Good catch. If you feel the wording is a bit clunky, feel free to rewrite it, @blauks. I closed it as I wanted to avoid spending a lot of time on this.

I will leave it to you to follow up on this issue, and it would be great if it were resolved before 12:00 PM today as focus will shift towards Figma for the frontend team.

[2021-02-12 09:32] FredrikAugust commented on #20
Work will begin on this today at 12:00 PM during the meeting.

[2021-02-12 09:34] FredrikAugust commented on #21
Regarding stuff like visx vs Visx. If you notice an inconsistency; google the library and make a decision. The important part is consistency – as you pointed out, so making _a_ choice is important than _which_ choice.

Interesting literature regarding this mentality;
- https://www.ted.com/talks/patrick_mcginnis_how_to_make_faster_decisions

[2021-02-12 09:37] emilom commented on #21
Thanks guys <3

[2021-02-12 09:38] FredrikAugust commented on #1
I see

in the [wiki pages about testing and CI](https://github.com/IT2901-SINTEF01/frontend/wiki/Continous-Integration). These decisions have been made as far as I'm aware.

If content will be added at a later date, use "TK"[0].

[0] https://en.wikipedia.org/wiki/To_come_(publishing)

--------

Furthermore @blauks, any ETA on this? Would be great if we could have it done by the day if possible – a

[2021-02-12 09:41] #21 closed, assigned to emilom

[2021-02-12 10:03] blauks commented on #1
I will probably be able write the pages within today👍

[2021-02-12 10:04] FredrikAugust commented on #1
Perfect.

[2021-02-14 22:26] FredrikAugust commented on #1
Is this done?

[2021-02-15 07:55] blauks commented on #1
The issue as a whole is not done yet. Is the contributing.md file really necessary? We basically mention all the relevant things in the wiki.

[2021-02-15 09:07] FredrikAugust commented on #1
No.

Documenting the architecture, however, is;) Feel free to close the issue once you're done!

[2021-02-15 09:17] emilom commented on #1
I will write about architecture now. Should I mostly write about React, GraphQL/Apollo?

[2021-02-15 09:30] FredrikAugust commented on #1
Important subjects:
- GraphQL+Apollo
- Storybook
- Caching in Apollo? Might have to do some research here. It's very easy to set up

[2021-02-15 09:49] emilom commented on #1
Will we be using Apollo for state management as well?

[2021-02-15 09:53] FredrikAugust commented on #1
This is something you may decide internally in @IT2901-SINTEF01/frontend, but I assume it will suffice in the foreseeable future.

[2021-02-15 10:55] blauks commented on #1
Finished!

[2021-02-15 10:55] #1 closed, assigned to blauks, emilom

[2021-02-15 10:59] blauks opened #23 "Find out how Storybook works"
### Question
How does Storybook work, what are some best practises, how will we use it, an example?

### Related information
[Storybook](https://storybook.js.org/docs/react/get-started/introduction)

[2021-02-15 11:00] #23 closed, assigned to emilom

[2021-02-15 14:51] FredrikAugust commented on #17
Any updates here?

[2021-02-15 14:51] FredrikAugust commented on #18
What's the status on this?

[2021-02-15 14:56] emilom commented on #18
Im testing some visx now. Will try to set it up with storybooks when I'm done and document it. Probably done by tomorrow afternoon.

[2021-02-15 14:56] FredrikAugust commented on #18
Perfect!:)

[2021-02-16 10:55] blauks commented on #18
[Storybook wiki](https://github.com/IT2901-SINTEF01/frontend/wiki/Storybook) @emilom has fixed 🥳

[2021-02-16 10:55] #18 closed, assigned to blauks, emilom

[2021-02-16 10:56] FredrikAugust commented on #20
@IT2901-SINTEF01/ux-design Could you make sure this is done by the end of the day (2021/02/16) and a link to the figma is included in the wiki under a page called "Design"?

[2021-02-16 11:09] #19 closed, assigned to blauks, thomran

[2021-02-16 11:42] #17 closed, assigned to blauks

[2021-02-16 13:02] thomran commented on #20
On it!

[2021-02-17 10:58] FredrikAugust commented on #20
[Wiki](https://github.com/IT2901-SINTEF01/frontend/wiki).

[2021-02-17 10:58] #20 closed, assigned to thomran, emilom

[2021-02-17 12:43] FredrikAugust opened #26 "Create folder structure for future development"
### Description
Implement an atomic design pattern, and make sure the rest of @IT2901-SINTEF01/frontend understand what this entails.

Some key concepts;
- Organisms: page structure
- Molecules: **responsible for data retrieval** and passing data down to atoms
- Atoms: **entirely self-contained** components. Should not require a parent* GraphQL provider. The demo by @emilom is a perfect example of

[2021-02-17 13:01] FredrikAugust opened #27 "Create type and dummy data which corresponds to MetAPI response"
### Description
Create a type which corresponds to the response of the MetAPI call. Hopefully, soon you will be able to use the backend to retrieve this data, but this is currently under review.

This type will be the type of the deserialised result from the GraphQL query. If you have any questions about how this works, @blauks should have some knowledge from Ekskom!;)

The dummy data you create c

[2021-02-17 13:08] FredrikAugust opened #28 "Create palette based on design in Evergreen"
### Description
This should be done once the design is at least partially complete – to the point where colours have been set in stone.

### Subtasks
- [x] Update Evergreen config to use your new custom colours.
- [x] Make a decision whether or not you want to support dark mode (confer: @IT2901-SINTEF01/ux-design) and write a sentence about it in Wiki->Design

### Related sources
- https://evergre

[2021-02-17 13:22] FredrikAugust opened #29 "Create a fitting visualisation for MetAPI Compact"
### Description
For the MVP of the dashboard, we need a fitting visualisation.

The visualisations should take one data format, which is fitting for that visualisation. So for a bar chart, you may want `{ x: [1, 2, 3], y: [4, 5, 6] }` &c.

### Subtasks
- [x] Create visualisation for MetAPI Compact data
- [x] Add visualisation to `atoms` folder (if #26)
- [x] Add storybook example with visualisatio

[2021-02-17 13:34] FredrikAugust opened #30 "Create dashboard organism"
### Description
Create a dashboard component which supports multiple child components (visualisations)

### Subtasks
- [x] Create `Dashboard` organism
- [x] Create sensible component which supports displaying multiple visualisation (might be useful to take a look at React children and `props.children`)
- [x] Decide how you should determine what data should be passed to what component. Do you wish

[2021-02-17 13:46] FredrikAugust opened #31 "Design user interface ✨"
### Description
Afternoon, @IT2901-SINTEF01/ux-design.
The task is to create a _more complete_ design in Figma that the @IT2901-SINTEF01/frontend team can use as a baseline for their implementation.

### Subtasks
- [x] Create design
- [x] Add design to design page in wiki

[2021-02-17 14:14] FredrikAugust opened #32 "Design for loading and error"
### Description
The datasets might take some time to load, and may even produce errors. We should have visual components representing these outcomes.

### Subtasks
- [x] Create loading and error designs for datasets, visualisations and other elements which require loading of external resources

[2021-02-18 16:22] FredrikAugust opened #34 "Add proxy configuration to avoid CORS restrictions"
I got it to work with using proxies on frontend.

Steps to reproduce:
- Add to package.json:
[code]
- Code used for testing
[code]

Remember that when proxying you need to make a request to the host you're serving the app from. This is done by default when omitting the host in the `fetch` request, and only including the path.

_Originally posted by @FredrikAugust in https://github.com/IT2901-SINTE

[2021-02-18 18:09] emilom commented on #27
Am I supposed to create a folder with a file containing all the different types/interfaces for the data we will be using?

[2021-02-18 18:12] emilom commented on #29
Isn’t a graph more Molecule than Atom?

[2021-02-18 19:13] #26 closed, assigned to blauks

[2021-02-18 19:14] FredrikAugust commented on #29
We can discuss this in the meeting tomorrow.

[2021-02-18 19:16] blauks commented on #34
Nice, thanks for the help!:)

[2021-02-18 19:20] blauks commented on #27
I like the idea of having a folder for all our types and interfaces!

[2021-02-18 20:59] #34 closed, assigned to blauks

[2021-02-18 21:01] FredrikAugust commented on #27
Yep! Perhaps a folder with folders?

- `DataTypes`
  - `MetApi`
    - `Compact`

Etc. Would be helpful if we e.g. get multiple data sources from data.norge.no.

[2021-02-18 21:19] emilom commented on #27
sounds good 👌

[2021-02-19 09:12] FredrikAugust opened #38 "Remove lint CI action"
### Description
Remove lint action since we have sider.

### Subtasks
- [x] Remove lint action(s)

[2021-02-19 10:38] #38 closed, assigned to blauks

[2021-02-19 11:41] FredrikAugust opened #40 "No spell checking in non-source files"
### Description
Edit sider config.

### Steps to reproduce
1. Look at #36

### Expected behaviour
Don't lint generated files.

[2021-02-19 12:01] #40 closed, assigned to blauks

[2021-02-19 12:32] #27 closed, assigned to emilom

[2021-02-19 12:32] #29 closed, assigned to emilom

[2021-02-24 09:24] thomran commented on #31
The first iteration of the user interface will be finished before tomorrow, (25.02.2021).

[2021-02-24 23:37] thomran commented on #31
The design process took longer than expected and is therefore not yet finished. The first iteration of the user interface design is now estimated to be completed before friday (27.02.2021).

[2021-02-25 10:53] FredrikAugust commented on #31
:ok: sounds good!

[2021-02-25 18:48] thomran commented on #31
The user interface design is now completed and added to the design page in the wiki.

The actions of each button press, as well as all empty states and edge cases have not yet been thoroughly completed, but will be viewed in detail and completed as soon as possible. Said subtasks are estimated to be taken care of tomorrow, (26.02.2021)

[2021-02-26 11:08] #31 closed, assigned to thomran

[2021-03-01 10:26] FredrikAugust commented on #5
@blauks
Did you hear about the seagull who was tasked with containerising the frontend app?
_He winged it._

[2021-03-01 10:28] blauks commented on #5
Funny! 🙂

[2021-03-01 10:40] FredrikAugust opened #47 "Create server error page"
### Description
In case the server gets hurt we need an error page.

This is __low priority__.

Go wild 👨🏻‍🎤

### Subtasks
- [x] Create HTML file called `50x.html` in `/public` which will be shown upon error 🤧

[2021-03-01 13:49] #5 closed, assigned to FredrikAugust

[2021-03-02 12:58] FredrikAugust commented on #32
@thomran any updates on this?

[2021-03-02 13:09] thomran commented on #32
Should be completed later today! (02.03.2021)

[2021-03-02 13:09] FredrikAugust commented on #32
Superb!

[2021-03-02 15:09] emilom opened #50 "Create atom for loading and error"
### Description
We need custom atoms for loading and errors which can be displayed when fetching data from the backend.

### Subtasks
- [x] Create atom for loading as designed in #32
- [x] Create atom for error as designed in #32
- [x] Create atom for cases where GraphQL didn't fetch any data (as designed in #32)
- [x] Implement atoms in DataWrapper.tsx and Dashboard.tsx

[2021-03-02 17:29] FredrikAugust opened #51 "Set up a mocked provider for use in storybook"
### Description
To provide some more interesting data to the components in the storybook (as well as avoiding having to store large JSON files everywhere) we can use a mocked provider from apollo.

### Subtasks
- [x] Set up a [decorator](https://storybook.js.org/docs/react/writing-stories/decorators) which provides the mocked provider
- [x] Mock the api.met.no request

[2021-03-02 17:40] FredrikAugust commented on #32
@thomran could you also create a component for when no data is retrieved from the backend?

[2021-03-02 17:40] FredrikAugust commented on #32
I.e. missing data.

[2021-03-02 17:42] thomran commented on #32
On it!

[2021-03-02 17:42] FredrikAugust commented on #32
Perfect!

[2021-03-02 20:42] thomran commented on #32
Done! Will fill out wiki with new content tomorrow.

Will also need to discuss some aspects of the design in tomorrow's meeting.

[2021-03-03 13:27] blauks commented on #51
This is done under the #49 PR.

[2021-03-03 13:28] emilom commented on #50
We will be using the `Spinner` component from [evergreen](https://evergreen.segment.com/components/spinner) as atom for loading.

[2021-03-03 13:41] FredrikAugust commented on #51
Add "Closes #51" to the description of the PR.

The issue is not "done" before it's merged into `master`.

[2021-03-03 14:07] emilom commented on #50
Use `InlineAlert` for error message. Found [here](https://evergreen.segment.com/components/alert)

[2021-03-03 21:08] #30 closed, assigned to blauks, emilom

[2021-03-03 21:08] #51 closed, assigned to blauks

[2021-03-05 10:42] #32 closed, assigned to thomran

[2021-03-05 13:56] #50 closed, assigned to blauks, emilom

[2021-03-05 13:58] emilom commented on #28
Good job!

[2021-03-05 13:58] #28 closed, assigned to blauks, thomran

[2021-03-08 09:19] FredrikAugust opened #53 "Create data source selection page"
### Description
Good morning!

Next up, we need a page where the user can select what data source they wish to use for their visualisation.

In this issue, you only need to implement the page. You **do not** need to wire it up to a global store for handling selection of data sources.

### Subtasks
- [x] Create data source selection page
- [x] Retrieve data about available data sources from backend

[2021-03-08 09:28] FredrikAugust opened #55 "Global store for keeping track of selected visualisations"
### Description
The frontend needs to keep track of which visualisations are selected, and a global store is a suitable place for that. I believe @emilom found the Apollo state management to be sufficient, so that should be used.

### Subtasks
- [x] Create store and model
- [ ] **Test** (Unit test) selecting a data source and make sure it's reflected in the store. Do not need UI test

[2021-03-08 09:34] FredrikAugust opened #56 "Create navigation between data selection and visualisations"
### Description

Using `react-router` one should be able to navigate between the two pages as specified in the design kindly provided by @IT2901-SINTEF01/ux-design.

### Subtasks
- [x] Create routes for both pages, and setup 404 handler with page
- [x] Make sure the URL doesn't contain any octothorpes, e.g. `localhost:3000/#/path/to/resource`. This is a sign of misconfiguration

### Related source

[2021-03-08 09:35] FredrikAugust opened #57 "Test adding data visualisations with Cypress"
### Description
Wow! A complete e2e test!

You should test that adding a data visualisation and navigating between the relevant pages works as expected.

### Subtasks
- [x] Test navigation with 404s as well
- [x] Test adding visualisation
- [x] Test deleting visualisation

[2021-03-08 09:39] FredrikAugust opened #58 "Deploy frontend to github pages"
### Description
Build `master` builds and push to github pages.

Continuous deployment of `master` should be sufficient as long as we configure the backend path in env vars and ensure CORS settings on backend satisfy the requirements.

### Subtasks
- [x] Deploy to GH pages

### Related sources
- https://github.com/marketplace/actions/deploy-to-github-pages

[2021-03-08 09:48] #47 closed, assigned to blauks, thomran, emilom

[2021-03-10 12:52] FredrikAugust opened #60 "Add vercel link to README and explain it in wiki"
### Description
Read title of issue.

### Subtasks
- [x] Explain in wiki
- [x] Add description in wiki of what it does
- [x] Add badge? ![Deployment badge](https://img.shields.io/github/deployments/it2901-sintef01/frontend/Production?label=Production%20deployment)

[code]

### Related sources
- https://vercel.com/it2901-sintef01/frontend

[2021-03-10 12:56] FredrikAugust commented on #58
Decided to use Vercel instead.

[2021-03-10 12:56] #58 closed, assigned to FredrikAugust

[2021-03-15 09:36] FredrikAugust opened #63 "Perform simple accessibility review"
### Description
Even though it's not crucial for our application, we should strive to hit at least the most basic accessibility goals.

The task is to perform a review of the accessibility (or lack thereof) and provide a report to the frontend developers through an issue with subtasks. Might also be helpful to include a PDF or similar.

### Subtasks
- [x] Perform review
- [x] Create report
- [x] C

[2021-03-15 13:42] FredrikAugust opened #64 "Make this project into a library"
### Description

This project should be usable as a npm library.

### Subtasks
- [x] Find out how to use this project as a library
- [x] Create example repository using this library under IT2901-SINTEF01

[2021-03-15 15:59] blauks commented on #55
@emilom has already correctly implemented the Apollo state management, but I will implement a little test 😃

[2021-03-15 21:24] FredrikAugust commented on #55
Perfect, @blauks.

[2021-03-16 09:30] blauks commented on #55
Thanks @FredrikAugust

[2021-03-17 10:57] #53 closed, assigned to blauks, thomran, emilom

[2021-03-17 11:25] FredrikAugust opened #65 "Add page for choosing visualisation of data source"
### Description
As discussed in the meeting.

Add page for accepting the addition of a new data page.

### Subtasks
- [x] Add page
- [x] Handle routing

[2021-03-17 12:45] #56 closed, assigned to emilom

[2021-03-19 10:34] #55 closed, assigned to blauks

[2021-03-19 10:59] FredrikAugust opened #69 "Implement functionality for actually adding data source + visualisation to dashboard"
### Description
Implement the actual functionality (updating global state) that adds the data source + visualisation.

### Subtasks
- [ ] Make the add data source / select visualisation pages functional

[2021-03-19 11:01] FredrikAugust opened #70 "Use deep object comparison in cypress test"
https://github.com/IT2901-SINTEF01/frontend/blob/cc486cd267b270c266339bc308f4c8d74cebcc62/cypress/component/unit_test_apollo_state_updates.spec.tsx#L28

Right now it appears to be using shallow object comparison which means that it will always pass.

[2021-03-19 12:01] FredrikAugust opened #71 "Correct GQL Query should be used on dashboard"
### Description

Right now, the query used on the dashboard is not correct, and this needs to change.

We are gathering an army and preparing to tackle this enormous hindrance.

Sharpen your tools, we're going into war.

### Subtasks
- [x] Create function for determining which type and query should be used based on selections on data chooser pages

[2021-03-19 12:54] blauks commented on #60
Done :simple_smile:

[2021-03-19 12:54] #60 closed, assigned to blauks

[2021-03-19 12:55] FredrikAugust opened #73 "Update design of visusalisation editor page"
### Description
It doesn't look good.

😷

### Subtasks
- [x] "Trenger bare litt padding"

[2021-03-19 13:27] FredrikAugust opened #74 "Docker doesn't respect modern TypeScript"
### Description
Our Docker configuration doesn't seem to like non-null assertions, generic components and several other modern TypeScript features. It should support this.

### Steps to reproduce
1. Push a commit to a remote branch (in this repo) using either generic functional components, non-null assertion, or `as` casting.
2. Take a look at docker build logs

Example: https://github.com/IT2901-

[2021-03-19 13:55] blauks commented on #69
Nice.

[2021-03-19 14:49] FredrikAugust opened #75 "Storybook invalidates each run due to diff in text in stories"
### Description
Storybook invalidates all components as they differ in textual content.

PLEASE 🙏🏻

It also makes all builds in master pending as they're not accepted.

### Steps to reproduce
1. Push new build to git repo

### Expected behaviour
No diff.

[2021-03-19 14:49] FredrikAugust commented on #75
Could probably be smart to make the mocked data always return the same in stories.

[2021-03-19 14:54] blauks commented on #75
Okey dokey

[2021-03-19 15:37] #69 closed, assigned to emilom

[2021-03-19 15:37] #74 closed, assigned to FredrikAugust

[2021-03-19 15:47] #75 closed, assigned to blauks

[2021-03-22 10:20] emilom opened #79 "Create new visualisation component for populationsInNorway data set"
### Description
A threshold chart will not be the best way to visualise population data in Norway. We should create a new component for line charts which can be added to our library of available visualisation methods.

### Subtasks
- [ ] Create a line chart in visx

[2021-03-22 10:53] #70 closed, assigned to blauks

[2021-03-22 10:54] blauks commented on #79
Good insj

[2021-03-22 11:54] FredrikAugust commented on #73
@emilom can this issue be closed by #77?

[2021-03-22 11:54] FredrikAugust commented on #73
I suppose _cloeses_ means that it should be closed.

[2021-03-22 11:54] #73 closed, assigned to emilom

[2021-03-22 11:56] emilom commented on #73
my bad, little typo

[2021-03-22 12:01] blauks opened #80 "Test business logic with E2E tests"
### Description
Make a test (or two) to check the business logic related to adding a new item to the dashboard

### Subtasks
- [ ] Create test(s)

[2021-03-22 12:02] blauks commented on #63
@thomran how is this going?

[2021-03-22 12:03] blauks commented on #80
Marked as duplicate of #57 😳

[2021-03-22 12:03] #80 closed, assigned to blauks

[2021-03-22 12:20] FredrikAugust commented on #73
🛩️

[2021-03-22 13:26] thomran commented on #63
Will begin today and aim to finish the review within Wednesday. Will that be ok?

[2021-03-22 13:54] blauks commented on #63
Sounds good to me

[2021-03-22 19:03] FredrikAugust commented on #71
Hello, @emilom

I am Fredrik, but you might know me as :fredriksinna:. I'll get started on this issue now, let me know if you wish to join in on Zoom or something along those lines.

[2021-03-22 19:26] emilom commented on #71
I'm down for some zooming

[2021-03-22 20:46] FredrikAugust opened #82 "Display visualisation selected by user (and not always thresholdchart) 📊"
### Description
Make chart type dependent on vis. selected -- i.e. information available in global store after #85.

#### Conciderations

It might be easier to have all visualisations accept an object (i.e. _one_ argument) and use some clever mapping between input and output.

### Subtasks
- [ ] Decide what type of visualisation should be shown
- [ ] Map from raw data to visualisation input

[2021-03-22 20:47] FredrikAugust commented on #71
Done-diddely-doo

![](https://pbs.twimg.com/profile_images/378800000395351168/75ace8ef8d8c184ac3136f80a4d340cc_400x400.jpeg)

[2021-03-22 21:00] FredrikAugust opened #83 "Mock should return random valid name for data source"
### Description
Mocks only return one title for the visualisations, while it should return a sample (read: _one_) of all available data sources for _randomness_.

### Steps to reproduce
1. Look at the code and run it and then look at the results

### Expected behaviour
Very random (:sparkles: _quirky_ :sparkles:) selection.

[2021-03-22 21:00] FredrikAugust commented on #83
Bug introduced in #81

[2021-03-22 21:01] #71 closed, assigned to FredrikAugust, emilom

[2021-03-23 09:36] blauks commented on #82
Always thresholdchart 😡

[2021-03-23 11:52] FredrikAugust commented on #79
Does the SSB population dataset include historical data?

[2021-03-23 11:53] #65 closed, assigned to blauks, emilom

[2021-03-23 12:00] FredrikAugust opened #84 "Display available visualisations on the visualisation selection page"
### Description
This is actually a bit more work than illustrated by the title.

The backend metadata field returns a set of visualisations which have a `type` field, which we can map to different component types (e.g. `ThresholdChart`, `BarChart`, &c).

We need to use this information, alongside the information regarding what data source we are working with to retrieve the correct `mappingFunctio

[2021-03-23 12:02] FredrikAugust opened #85 "Add the selected visualisation type to the global store"
### Description
The user should be able to select a visualisation from the ones generated in #84, and this information should be passed to the global store.

### Subtasks
- [ ] Allow user to select visualisation
- [ ] Add information to global data store model

[2021-03-23 12:19] FredrikAugust opened #86 "Use custom ID instead of title for determining data source"
### Description
Right now data source is based on the title of the metadata entry that is returned[0]. This is error-prone as some of the titles are quite long and complicated.

It would be better to migrate to a more uniform ID format.

[0] https://github.com/IT2901-SINTEF01/frontend/pull/81

### Subtasks
- [ ] Review code touched in aforementioned PR to use ID instead of title

### Related sourc

[2021-03-24 11:39] emilom commented on #79
Yes :)

[2021-03-24 11:58] #79 closed, assigned to emilom

[2021-03-24 22:48] thomran opened #89 "Improve accessibility"
A review of the application accessibility can be found [here](https://www.notion.so/Accessibility-review-f199dd0e4aec4a0f9a4f227b97cadf8c). The review provides an overview of tasks to be done and explains the tasks below in greater detail.

- [x] Make all custom controls into native HTML elements. If this is not possible, they should have associated labels and ARIA roles.
- [x] Add labels and/or t

[2021-03-24 22:55] #63 closed, assigned to thomran

[2021-03-25 10:35] FredrikAugust commented on #89
Great work!

[2021-03-25 11:03] FredrikAugust commented on #89
I propose that one of you in @IT2901-SINTEF01/frontend take responsibility for this issue to ensure that it is done.

Who would like to do the honors?

[2021-03-25 11:03] FredrikAugust commented on #89
If you would like to take this issue, unassign the erst.

[2021-03-25 14:14] blauks commented on #89
@emilom this is the mission you were made for, good luck out there. Rooting for you

[2021-03-25 16:52] #57 closed, assigned to blauks

[2021-03-25 17:14] FredrikAugust opened #90 "Move vercel to private account to avoid $ deficit"
### Description
Migrate to a private vercel account so we don't have to spend $.

### Subtasks
- [ ] Create private vercel setup
- [ ] Update CI/CD
- [ ] Update docs
- [ ] Update repository information link

[2021-03-26 09:44] blauks commented on #90
I will try to achive the sponsorship [requirements](https://vercel.com/support/articles/can-vercel-sponsor-my-open-source-project) of Vercel

[2021-03-26 12:02] Kpaubert commented on #90
This sounds like a good idea!

[2021-03-26 12:03] Kpaubert commented on #82
Thoughts on this, @fredrikbw?

[2021-03-26 12:10] Kpaubert opened #91 "Couple of small tasks"
### Description
Some issues I found when testing out the frontend project

### Subtasks
- [x] Find a new favicon
- [x] Set a new title so it's not "React App"
- [x] Remove or add functionality for the information bubble
![image](https://user-images.githubusercontent.com/43110067/112629294-6c383a80-8e34-11eb-8d7d-fd896c8c5fdb.png)
- [x] When checking and uchecking the "Ingen text"-checkbox, it auto

[2021-03-26 12:22] FredrikAugust commented on #91
:awooga:

[2021-03-26 12:22] FredrikAugust commented on #82
Thoughts, please

[2021-03-26 12:41] FredrikAugust opened #92 "Generalise ThresholdChart and LineChart to work with non-date X-axis values"
### Description
As the title reads.

Both should support non-date values as well.

Take a look at the metadata object to see the available values.

Both should also still support using time entries.

### Subtasks
- [ ] Update ThresholdChart
- [ ] Update LineChart

[2021-03-26 13:02] #91 closed, assigned to Kpaubert

[2021-03-26 13:08] #83 closed, assigned to nobody

[2021-03-26 19:07] Kpaubert opened #96 "Implement and test Mapbox"
### Description
It can be helpful to have data represented with the help of map, and Mapbox looks promising, having free tiers that we can use. With the help of the MetAPI, we can use the geo-data to see how well it works. _If this looks promising, it can be turned into a real PR_. This is also labelled as a question, in hopes that others will chime in with their opinions.

### Subtasks
- [ ] Crea

[2021-04-03 14:16] #90 closed, assigned to blauks

[2021-04-03 14:21] FredrikAugust opened #98 "Design updates Vercel"
### Description
Some thoughts regarding the current Vercel design.

Would also like some input from @IT2901-SINTEF01/ux-design.

- The footer is placed beneath the screen even though there's space for it
- The Vercel logo is centered, which seems slightly inconsistent with the rest of the design
- The Vercel logo is very large. Can it be scaled down?

[2021-04-03 14:24] emilom commented on #89
@blauks thanks 🙏

[2021-04-03 14:53] blauks commented on #89
@emilom 😘

[2021-04-04 11:22] blauks commented on #96
I think it would be cool, but I am a little bit unsure where it would be logical to implement it. Under the visualisation editor maybe? Or if you press an edit data button, the map would show up in some sort of box.

But it would be nice to be able to choose weather data from other cities than Trondheim.

[2021-04-04 11:30] blauks commented on #98
I see your concern, the implementation was a little bit rushed. I do not really know why it is placed beneath the screen when there is space for it, but I am going to try and fix it now. About the centration, I guess it would make more sense to move it to the left of the screen? But design is not really my cup of tea.
We could probably make the logo a little bit smaller.

I also found out that the

[2021-04-04 14:42] #92 closed, assigned to emilom

[2021-04-04 14:44] FredrikAugust commented on #64
What is the status on this, @blauks?

[2021-04-04 14:44] FredrikAugust commented on #64
I've updated the milestone to have a deadline 23. April, as it's crucial we get this resolved as soon as possible.

[2021-04-05 09:57] blauks commented on #64
Hello @FredrikAugust, thanks for checking in. I have not been able to work on this as much as I wanted to, but I will work on it this week. I think I should be able to finish this, or atleast have a very good plan on how we should do it, within the end of the week.

[2021-04-05 10:00] Kpaubert commented on #96
Not sure where to implement either, but the visualisation editor seems good. It could either be used to display data, or as you inferred, let the user click on a place on the map to select an area to fetch data from. There are also API's that give you the municipality names based on lon/lat-values so the user can validate their selection (but that might exist in MapBox already).

With all that sai

[2021-04-05 12:00] blauks commented on #64
Ok so basically, my current plan is:
1. Create a new folder (called npm, or whatever), where I create the components that I want to export as the NPM package.
    - For example, a datawrapper wrapped around a dashboard item.
2. Then create props for the new components, that would let a user choose everything that is needed for displaying a visualisation (Title, source, text... etc.), without needi

[2021-04-05 12:30] FredrikAugust commented on #64
Could you provide an example of what these components would look like? Preferably with some example code?

[2021-04-05 13:02] #84 closed, assigned to FredrikAugust, emilom

[2021-04-05 14:31] blauks commented on #64
[code]

They wouldn't be so complicated, something _ish_ like this. This would also be wrapped in an Apollo Provider. And I need to find the best way for how one can choose the graph, either they can pass in a child or we can just use enums.

[2021-04-05 15:03] FredrikAugust commented on #64
I see. Would it be possible to export an object like this?

[code]

so you could use it like

[code]

Does the user need to know anything else? This way you could spare them from having to deal with queries and mappings themselves. Ideally they should need to understand as little as possible to embed their components

[2021-04-05 15:03] FredrikAugust commented on #64
Naturally they would require some way of controlling styling, but I believe that's it?

[2021-04-05 16:34] FredrikAugust opened #101 "Update README to netlify and remove Vercel footer"
### Description
Turns out that Netlify offers the same functionality as Vercel, only for free (no soul-selling necessary).

The new URL is: https://sintef01.netlify.app/.

### Subtasks
- [x] Update README
- [x] Update Wiki
- [x] Remove all ties with Vercel

[2021-04-05 16:35] FredrikAugust commented on #98
Deprecate in favour of #101?

Would it also be possible to simply revert the Vercel design-updates?

[2021-04-05 16:35] FredrikAugust commented on #98
Also, a strange visual bug appears on the deployed site

<img width="1904" alt="Screenshot 2021-04-05 at 18 28 43" src="https://user-images.githubusercontent.com/7691547/113598683-cbb8f600-963d-11eb-8e6a-9557898099a1.png">

[2021-04-05 17:42] blauks commented on #98
Bye bye issue

[2021-04-05 17:42] #98 closed, assigned to blauks, thomran

[2021-04-05 17:53] emilom commented on #98
bye

[2021-04-05 18:57] FredrikAugust commented on #98
bye gyus

[2021-04-06 07:51] blauks commented on #64
That seems like a good solution! My focus is to make it as easy as possible to use. I will try to make something usable today, and provide a better example :)

[2021-04-06 08:34] emilom opened #104 "UI bugs in visualisation editor page"
### Description
There are some bugs in the data visualisation editor page.
1. The preview of the visualisation will re-render with new data every time a letter is written in the textarea.
2. Large labels will push the visualisation so it gets smaller.
3. Changing text will mess up the visualisation with medium and small visualisation.

### Steps to reproduce
1. Run the application
2. Navigate to v

[2021-04-06 08:41] #101 closed, assigned to blauks

[2021-04-07 09:25] #104 closed, assigned to emilom

[2021-04-07 09:53] #89 closed, assigned to emilom

[2021-04-07 09:53] FredrikAugust opened #106 "There appears to be a typo in the code"
[code]

særskrivingsfeil

_Originally posted by @FredrikAugust in https://github.com/IT2901-SINTEF01/frontend/pull/103#discussion_r607755611_

[2021-04-07 09:53] #106 closed, assigned to nobody

[2021-04-07 12:02] FredrikAugust opened #107 "Persist choices"
### Description
When the user refreshes the page, the selected visualisations should stay.

### Subtasks
- [x] Store changes in localstorage through a typed serialised JSON object
- [x] Retrieve localstorage cache if present on page load

[2021-04-07 12:04] FredrikAugust commented on #96
Could you update the issue with your thoughts, reflections, and plans @Kpaubert?

[2021-04-07 12:04] FredrikAugust commented on #96
E.g. what will the map be used for?

[2021-04-07 12:04] FredrikAugust commented on #96
And can we use mapbox or do we have to use an industry-leading technology such as Atlas? \s

[2021-04-07 12:30] Kpaubert commented on #96
I moved over to using Reactive-Atlas because it was easier to work with, and it gave the information we needed (except it would be nice to get the municipality name simply from the click, without sending another 3rd party request). I think integrating this with the MetAPI or similar could be nice, although it's probably easier to use a select/dropdown with search-functionality to select the correc

[2021-04-07 12:51] FredrikAugust opened #109 "Show correct visualisation on data source selection page"
### Description
Right now it tells you which visualisation it should display. You can likely copy a lot of the logic from visualisation editor page.

### Subtasks
- [x] Display correct visualisation

[2021-04-07 13:04] FredrikAugust opened #110 "Small/Medium visualisation doesn't look healthy on FF"
### Description
Could be an idea to rethink the sizing implementation.

### Steps to reproduce
1. Use firefox
2. Go to vis editor
3. Select small/medium

### Expected behaviour
Correct sizing and positioning

### Details
 - OS: MacOS
 - Browser FF
 - Version 87

### Additional comments
![Screenshot 2021-04-07 at 14 58 57](https://user-images.githubusercontent.com/7691547/113870790-810cba80-97b2-11

[2021-04-07 13:05] FredrikAugust commented on #110
![Screenshot 2021-04-07 at 15 04 52](https://user-images.githubusercontent.com/7691547/113870888-9bdf2f00-97b2-11eb-9bae-a56fc578a165.png)
Also happens if you resize the window when the visualisation is large.

[2021-04-07 13:27] FredrikAugust opened #112 "Population data presentation"
### Description
As of now, the population data visualisation doesn't work.

Your task is to figure out how it should work, and make it work.

Example solution:
- The user selects one municipality from a list of municipalities on the visualisation selection page. This requires you to perform a graphql query on the visualisation selection page to retrieve the available municipalities, as well as the

[2021-04-07 13:46] #86 closed, assigned to FredrikAugust

[2021-04-07 13:47] FredrikAugust commented on #112
Updated in #113 so the data source _works_, but not fully.

[2021-04-07 16:37] Kpaubert commented on #109
Fixed this for when you run in production, just a couple of questions:
* Should this work when in dev (mock-data gives out wrong visualisation types)?
* This is only tested for line graphs, how can I test easily with threshold/other?

@FredrikAugust <3

[2021-04-07 18:15] Kpaubert commented on #109
Both points solved, all that needs doing is changing MockMetadata.cs in the backend like this:
![image](https://user-images.githubusercontent.com/43110067/113914261-a95dde80-97dd-11eb-946c-03a82c03bab7.png)
Can probably be done as a separate issue in the backend.

Also wondering, ref. the image: should the threshold return an array?

[2021-04-07 18:15] FredrikAugust commented on #109
1) My branches in PR resolve this
2) Move the threshold recommended visualisation type for MetAPI to the top

[2021-04-08 11:52] FredrikAugust commented on #109
That's already live in effect

https://github.com/IT2901-SINTEF01/backend/blob/19f91e8331d8ba388fe38605c753e8d356b17d4a/Mocks/Metadata/MockMetadata.cs#L30

And no, threshold should be a single integer AFAIK.

[2021-04-08 12:59] #82 closed, assigned to FredrikAugust

[2021-04-08 12:59] #85 closed, assigned to nobody

[2021-04-08 14:00] fredrikbw commented on #112
## Proposed solution:

#### Selection of municipality:
* Dropdown menu similar to when selecting visualization type
* All options in this menu comes from the following query
[code]
* You should only be able to gather data from one municipality at a time

#### Selection of years:
_I suppose it wont be necessary to query for available years, as this should be the same each municipality? (1986 - curr

[2021-04-08 18:47] Kpaubert commented on #109
Ah, perfect. Moving my PR from draft to ready for review in that case 👍

[2021-04-08 19:42] #107 closed, assigned to emilom

[2021-04-08 21:08] FredrikAugust opened #117 "Investigate code structure and attempt to lower complexity"
### Description
As of now, there's quite a lot of data being passed around without any structure in the communication. Sometimes the data comes from local storage, sometimes it's from an enum, object, array, array of arrays, et cetera.

The PR associated with this issue should attempt to minimise the state held in the application in favor of simpler functional components and function composition.

[2021-04-09 09:43] #109 closed, assigned to Kpaubert

[2021-04-09 10:29] FredrikAugust opened #120 "Replace custom visualisations with graphs from decided backup graph library"
### Description
As discussed in the meeting, we should use the pre-made charts instead as they are _better_.

### Subtasks
- [x] Find out which library it is
- [x] Replace LineChart
- [x] Replace ThresholdChart (if possible)

[2021-04-09 10:31] emilom commented on #120
Maybe this will help

https://github.com/IT2901-SINTEF01/frontend/issues/4
https://github.com/IT2901-SINTEF01/frontend/wiki/Visualisation-tools

[2021-04-09 10:38] FredrikAugust commented on #120
I would also like to plug [Plot.ly for React](https://github.com/plotly/react-plotly.js). They feature exporting to PNG which would automatically resolve one of our milestones.

It's also a very commonly used library which should suffice all our graphing needs.

[2021-04-09 10:42] Kpaubert commented on #120
I'll try with Plot.ly first. Commenting here with update after some testing.

[2021-04-09 10:49] #110 closed, assigned to emilom

[2021-04-09 12:24] Kpaubert commented on #120
## Plot.ly update:
![image](https://user-images.githubusercontent.com/43110067/114178316-dcb77f00-993d-11eb-8c37-6d43bb4f1c67.png)
###  Pros
* It was very easy to implement, configure and make it work with the existing data. All that was required was to include the library, and use a `<Plot ...{configuration} />`-tag.
* Has a lot of user-options (omitted in the image above, as there is no reason t

[2021-04-09 13:01] Kpaubert commented on #120
## Recharts update
![image](https://user-images.githubusercontent.com/43110067/114183451-feb40000-9943-11eb-96cf-59674d335c6e.png)
### Pros
* Can look reaally nice
* Lots of configurability
* Not too hard to implement correct data structures
### Cons
* Awkward syntax compared to visx and recharts (personal opinion)
* A bit harder to configure correctly

<details>
<summary>Code example</summary>

<

[2021-04-09 13:04] blauks commented on #120
I like the looks of Recharts a lot more than plot.ly. So I would go of that.

[2021-04-12 11:03] FredrikAugust commented on #120
Personally I'd vouch for plot.ly due to the amount of features we get for free using that[0]. Recharts is quite visually appealing, but doesn't sport any "extra" features.

Considering we're very strapped on time, I would like to emphasise the fact that Plot.ly was easier to work with, and features a lot of extra features.

We're already in the situation we're in now because we decided to use visx

[2021-04-13 08:25] emilom commented on #120
I agree with @FredrikAugust.  Functionality is more important than looks now

[2021-04-14 09:17] #64 closed, assigned to blauks

[2021-04-14 17:29] FredrikAugust opened #125 "Update wiki with atomic design spec"
### Description
We now use the entire [atomic design](https://bradfrost.com/blog/post/atomic-web-design/) specification.

Update wiki accordingly.

### Related sources
- https://bradfrost.com/blog/post/atomic-web-design/

[2021-04-14 17:31] FredrikAugust opened #126 "Hydrate edit page with parameters from visualisation"
### Description
When you click "edit" the parameters should be filled out.

### Subtasks
- [ ] `paragraph`
- [ ] `size`
- [ ] Eventual other parameters

[2021-04-14 17:32] FredrikAugust opened #127 ""Legg til i ditt dashboard" button doesn't fit on smaller screen sizes"
The text of this button does not fit on my screen. Maybe remove some text or make the button higher?

_Originally posted by @emilom in https://github.com/IT2901-SINTEF01/frontend/pull/124#discussion_r613383840_

[2021-04-14 17:33] FredrikAugust opened #128 "White background colour on smaller dashboard items"
This leaves a white background on size medium or small. I think the white background should be set in dashboarditem instead of the container.

_Originally posted by @emilom in https://github.com/IT2901-SINTEF01/frontend/pull/124#discussion_r613387735_

[2021-04-14 17:34] FredrikAugust opened #129 ""Standarddashboard" isn't clear. Find a better word."
_Originally posted by @blauks in https://github.com/IT2901-SINTEF01/frontend/pull/124#discussion_r613417307_

Since there's only one, you could use "Dashboard" for now.

[2021-04-14 17:38] FredrikAugust commented on #128
<img width="1719" alt="Screenshot 2021-04-14 at 19 37 57" src="https://user-images.githubusercontent.com/7691547/114754497-ed5e5f80-9d58-11eb-9272-8b54fed3063a.png">

[2021-04-14 17:38] #117 closed, assigned to FredrikAugust

[2021-04-14 18:02] FredrikAugust opened #130 "Toast important events using Evergreen toaster"
### Description
We should let the user know when important events happen

### Subtasks
- [x] Create visualisation
- [ ] Delete visualisation

### Related sources
- [Documentation](https://renaafjellet.no/wp-content/uploads/2020/09/Ost-og-skinke-toast.jpg)

[2021-04-14 18:02] FredrikAugust commented on #96
LGTM. Sorry for late reply.

[2021-04-14 18:04] FredrikAugust opened #131 "Support updating visualisations"
### Description
Allow the user to update visualisations

### Subtasks
- [ ] #126
- [ ] Persist change

[2021-04-14 18:05] FredrikAugust opened #132 "Allow searching for data sets"
### Description
Allow the user to search for a data set by the title of the DS.

### Subtasks
- [x] Create UI
- [x] Implement search functionality (frontend only)

[2021-04-14 18:06] FredrikAugust commented on #120
**CONCLUSION**
- Use plot.ly for functionality

[2021-04-14 18:31] emilom opened #133 "Show added text in visualisation preview"
Adding text will not show up in preview when using visualisation editor

[2021-04-15 06:43] blauks commented on #129
😀

[2021-04-15 08:02] #129 closed, assigned to blauks

[2021-04-15 15:55] Kpaubert commented on #96
No problem :) Closing this for now.

[2021-04-15 15:55] #96 closed, assigned to Kpaubert

[2021-04-15 18:46] blauks commented on #125
😀

[2021-04-15 18:52] blauks commented on #125
In our case, are templates and pages the same thing?

[2021-04-16 09:41] #130 closed, assigned to Kpaubert

[2021-04-16 11:05] FredrikAugust opened #139 "Allow user to add multiple instances of same visualisation to dashboard"
### Description
Add several instances of same visualisation of same data set.

### Subtasks
- [x] Create unique ID for each dashboard visualisation for use in React (UUID should suffice)
- [x] Use ID as the unique part, and not the DATASOURCE-VISTYPE template type

[2021-04-16 11:07] FredrikAugust opened #140 "Show origin of data on data explorer page"
### Description
Show origin of data (source on MetadataEntry).

Perhaps confer with @IT2901-SINTEF01/ux-design for a quick design mockup.

### Subtasks
- [x] Show source of data on data explorer page
- [x] Update storybook and other relevant files

[2021-04-16 11:08] FredrikAugust commented on #125
No, templates wrap pages and provide a common baseline.

They're often called "Layout" IIRC

[2021-04-16 11:08] FredrikAugust commented on #125
It's basically

[code]

[2021-04-16 11:09] FredrikAugust commented on #125
If that makes any sense. I.e. `<Layout><Page /></Layout>` will provide some structure around the page to reduce redundancy.

[2021-04-16 11:25] FredrikAugust opened #141 "Allow arbitrary data source options in DashboardVisulisation"
### Description
Bear with me, this might get a bit confusing. If so don't hesitate to ask here, send me a DM, or call me.

In the current drafted implementation of population parameters, i.e.

https://github.com/IT2901-SINTEF01/frontend/pull/116/files#diff-b01a6c1c95562d08ab752970c643e4069e70de83e390189d9bbd8f224a18fe21R100

There's essentially a switch statement that generates a set of controls f

[2021-04-16 11:26] FredrikAugust opened #142 "Display Data- and VisualisationOptions on dashboard"
### Description
Right now, you can't see the extra information passed to a data source/visualisation on the dashboard.

You should be able to see this.

### Subtasks
- [ ] Show relevant data in a legible and useful fashion

### Related sources
- Depends on #141

[2021-04-16 12:49] blauks commented on #125
Ah okay, I think I understand.

[2021-04-16 12:56] Kpaubert commented on #139
Perhaps we could change the data format to be something like this:
[code]

Do you think that would suffice? Not sure how much would need to be changed for this to work, but I can look into it if it looks feasible. @FredrikAugust

[2021-04-16 13:08] FredrikAugust commented on #139
The top-level nesting seems unnecessary. ID>{ type: ..., ... } should suffice?

[2021-04-17 13:14] #120 closed, assigned to Kpaubert

[2021-04-17 13:14] #128 closed, assigned to emilom

[2021-04-17 13:14] #133 closed, assigned to emilom

[2021-04-21 08:54] blauks commented on #125
Now it should be ~ok.

[2021-04-21 08:54] #125 closed, assigned to blauks

[2021-04-21 09:25] FredrikAugust commented on #141
I'll take a look at this now, @fredrikbw

[2021-04-21 12:33] FredrikAugust opened #147 "Update package docs to reflect variables"
### Description
Post #146 the components in the package require variables that will be passed into the graphql request. This should be reflected in the documentation. Should be self-explanatory, but let me know if you have any questions or problems!:)

[2021-04-21 12:40] #132 closed, assigned to emilom

[2021-04-21 16:27] FredrikAugust commented on #139
Closed by #145

[2021-04-21 16:28] #139 closed, assigned to Kpaubert

[2021-04-22 08:42] #141 closed, assigned to FredrikAugust, fredrikbw

[2021-04-22 09:08] FredrikAugust commented on #142
@fredrikbw You can start this now! Its prerequisites are implemented.

You can now pass in options to the data source, and I believe it would be nice displaying these on the dashbaord.

_Note: For now, you can't pass in any visulisation options, but that should be a simple repetition of the previous PR. I felt data source options were a higher priority so I prioritised those._

[2021-04-22 09:15] FredrikAugust commented on #112
Fixed in #146

[2021-04-22 09:16] #112 closed, assigned to fredrikbw

[2021-04-22 10:19] FredrikAugust opened #149 "Cypress test suite fails due to application error"
### Description
This might be due to the IDs all being the same when testing with cypress.

A better implementation would be to return e.g. two data sources that have their own ID. It had to be changed as the application doesn't work when the ID is random on every call.

### Steps to reproduce
1. Run test suite a few times. Appears it does not _always_ crash

### Expected behaviour
Shouldn't crash

[2021-04-22 10:26] FredrikAugust opened #150 "Allow user to enter name of place instead of lat/lon in LatLonSetInput"
### Description
Entering lat/lon manually is slightly impractical. The user should be able to search for a location and have the lat/lon autofilled.

### Subtasks
- [x] Select a mature and solid framework (Google? Mapbox? Something else entirely?)
- [x] Implement lat/lon search. Should be able to keep the changes isolated within the existing component so as not to disturb the interfaces &c

[2021-04-22 10:35] FredrikAugust opened #151 "Allow user to select desired year range in population"
### Description
The user should be able to use a range slider to select the desired years.

**Low priority**: Only accept this if you want/need a break or got nothing else to do

### Subtasks
- [ ] Edit the population variables to accept a range of years as well
- [ ] Update the population variables controls to pass years as well

[2021-04-22 13:29] FredrikAugust commented on #149
This is currently affecting all PRs and `master` and is as such a high priority.

[2021-04-22 13:46] #126 closed, assigned to FredrikAugust

[2021-04-22 14:01] #131 closed, assigned to FredrikAugust

[2021-04-23 10:18] emilom opened #154 "Add bar chart visualisation"
We should add a bar chart to support the new dataset and make the application more spicy 🥵 🌶
Will be using standard bar charts and grouped bar charts  from plotly without much customisations.

Tasks
- [x] Support the current data sources.
- [ ] Support new data set from https://github.com/IT2901-SINTEF01/backend/issues/139
- [ ] Add storybook

[2021-04-23 11:12] blauks commented on #147
Should I publish the new updates aswell?

[2021-04-23 11:52] FredrikAugust commented on #147
Would be great!

[2021-04-23 12:22] #140 closed, assigned to blauks

[2021-04-23 12:22] #149 closed, assigned to blauks

[2021-04-23 12:24] FredrikAugust commented on #154
Could you update this issue to contain the relevant information?

I.e. what needs to be done, and perhaps what (if any) data sources it should support.

There is a template there for a reason.

[2021-04-23 12:27] FredrikAugust commented on #154
- What parts of the application need to be updated?
- Should it be a complete implementation of a visualisation such that a new data source only needs to add support for it, or only the chart?
- Storybook?
- Barcharts come in many shapes and sizes, which one should be used? Only the standard or should we allow for customisation? [Ref. plot.ly docs](https://plotly.com/python/bar-charts/)

[2021-04-23 12:47] #127 closed, assigned to emilom

[2021-04-23 13:24] blauks commented on #147
[Updated](https://github.com/IT2901-SINTEF01/frontend/wiki/%22data-visualisation-platform%22) :):):)

[2021-04-23 13:24] #147 closed, assigned to blauks

[2021-04-25 11:49] FredrikAugust opened #158 "LatLon input with default vars is detected as modified"
### Description
Going to edit page for LatLon-input vis. with default variables is detected as modified dashboard visualisation.

### Steps to reproduce
1. Add new visualisation with lat+lon input
2. Click "edit" on dashboard (pencil icon)
3. Look at the "Update visualisation button"

### Expected behaviour

Should not be detected as modified as the default variables are the same as the "default v

[2021-04-28 10:35] #150 closed, assigned to Kpaubert

[2021-04-28 10:51] #142 closed, assigned to FredrikAugust

[2021-05-02 12:01] #154 closed, assigned to emilom

[2021-05-06 10:05] FredrikAugust opened #164 "Implement Bar Chart in npm package"
### Description
Bar chart is currently not implemented in the `npm` package, along with the Statistics Norway Tax data source.

### Subtasks
- [ ] Add support for Statistics Norway Tax data source
- [ ] Add bar chart support

[2021-07-07 12:12] FredrikAugust commented on #158
@blauks any updates on this?

[2021-07-07 12:19] blauks commented on #158
It's coming together really well now, I just have some small adjustments to make it perfect. __Also__ do you want it to feel like this
![bilde](https://user-images.githubusercontent.com/33070123/124757767-37a54600-df2e-11eb-96a7-7236d3155649.png)
or more like this
![bilde](https://user-images.githubusercontent.com/33070123/124757844-4c81d980-df2e-11eb-8a83-dbaa124fc322.png)
?

Thanks for your inpu

[2021-07-07 16:03] FredrikAugust commented on #158
@blauks I don't think I'm qualified to answer this question. What do you think, designer @thomran?

Perhaps @Kpaubert knows more about the implementation details?

[2021-07-07 16:03] FredrikAugust commented on #158
But I'm leaning towards the tower.

[2021-07-07 16:23] thomran commented on #158
@FredrikAugust I see what you did there. I too lean towards the tower! Designer approved, even though the UX might be a bit overly lean.

[2021-07-07 16:51] FredrikAugust commented on #158
@thomran I'll admit _I fell_ for the first one initially, but as you say; lean development is important.

[2021-07-07 18:32] Kpaubert commented on #158
Now this, is epic.

[2021-07-07 18:32] #158 closed, assigned to nobody